<h2>Rounds detail</h2>

<table>
  <tr>
   
    <th>Arrows</th>
    <th>Targets</th>
    <th>Spots</th>
    <th></th>
    <th></th>
    
  </tr>

<% @shooting_rounds.each do |shooting_round| %>
  <tr>
   
    <td><%= shooting_round.arrows %></td>
    <td><%= shooting_round.targets %></td>
    <td><%= shooting_round.spots %></td>
    <% if is_sessionOwned(shooting_round.s_session) %>
        <td><%= link_to 'Edit', edit_shooting_range_shooting_session_shooting_round_path(shooting_round,:shooting_range_id => @shooting_range , :shooting_session_id => @shooting_session) %></td>
        <td><%= link_to 'Destroy', shooting_range_shooting_session_shooting_round_path(shooting_round,:shooting_range_id => @shooting_range , :shooting_session_id => @shooting_session), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
 <% if is_sessionOwned(@shooting_session) %>
    <%= link_to 'New Shooting round', new_shooting_range_shooting_session_shooting_round_path(:shooting_range_id => @shooting_range , :shooting_session_id => @shooting_session) %>
<% end %>

