<h1>Ranges</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th></th>
   <% if user_signed_in? %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @shooting_ranges.each do |shooting_range| %>
  <tr>
    <td><%= shooting_range.name %></td>
    <td><%= shooting_range.description %></td>
    <td><%= shooting_range.address %></td>
    <td><%= link_to 'Show', shooting_range %></td>
     <% if user_signed_in? %>
         <td><%= link_to 'Edit', edit_shooting_range_path(shooting_range) %></td>
         <td><%= link_to 'Destroy', shooting_range, :confirm => 'Are you sure?', :method => :delete %></td>
     <% end %>
     
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
    <%= link_to 'New Shooting range', new_shooting_range_path %>
<% end %>
